<div class="col-lg-8 col-lg-offset-2">
	<div class="jumbotron">
	  <h1>Bienvenido a CloudMusic</h1>
	  <p>Empieza a escuchar música de tus artistas favoritos y descubre nuevos hits :D</p>
	  <p><a class="btn btn-primary btn-lg" [routerLink]="['/artistas', 1]" role="button">Ver artistas</a></p>
	</div>
</div>